.tab {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: max-content;
  height: min-content;
  background-color: #99bfd7;
  position: fixed;
  top:4%; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Adjust for smaller screens */
@media screen and (max-width: 600px) {
  .tab {
    top: 8%; /* Adjust this value for smaller screens */
  }
}

.tab li {
  display: inline-block; /* Display horizontally */
  margin-right: 10px; /* Adjust spacing between items */
}

.tab li button {
  color: rgb(255, 255, 255);
  background-color: #99bfd7;
  border: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab li button:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.logo {
  padding-top: 1%;
  font-family: "Segoe UI Mono";
  text-align: center;
}
