
  .tab {
    list-style-type: none;
    margin-top: 40px;
    height: 100%;
    padding: 0;
    overflow: hidden;
    width: max-content;
    background-color: #81adc8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  
  .tab li {
    display: block;
    margin-bottom: 10px;
  }
  
  .tab li button {
    display: block;
    color: rgb(255, 255, 255);
    background-color: #81adc8;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%; /* Make the buttons fill the width of the navbar */
  }
  
  .tab li button:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  .logo {
    padding-top: 1%;
    font-family: "Segoe UI Mono";
    text-align: center;
  }
  