.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #8a8a8a;
    position: fixed;
    top: 0;
}

.tab li {
    float: left;
}

.tab li button {
    display: block;
    color: rgb(255, 255, 255);
    background-color: #8a8a8a;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tab li button:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;

}

.logo {
    padding-top: 3%;
    font-family: "Segoe UI Mono";
    text-align: center;
}