.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Center the form-group horizontally */
    margin-top: 10px; /* Add margin-top for spacing */
    max-width: 400px; /* Set a maximum width if needed */
    padding: 0px;
    border: 0px solid #ccc;
    border-radius: 0px;
}

.form-input {
    padding: 10px;
    margin: auto;
    border: 2px solid #8a8a8a;
    border-radius: 20px;
}

.form-input-hint {
    color: red;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}
.form-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Center the form-group horizontally */
    margin-top: 10px; /* Add margin-top for spacing */
    max-width: 400px; /* Set a maximum width if needed */
}

.form-button:hover {
    background-color: #45a049;
}