#like {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    white-space: pre;
}